@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #FAFAFA;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", serif;
}